.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // flex-flow: row wrap;
}

@media all and (max-width:800px) {
    .flex-container{
        justify-content: flex-start;
    }
}


.flex-item{
    width:200px;
    height: 200px;
    background-color:aquamarine;
    color: wheat;
    font-size: 3em;
    text-align: center;
    margin-top: 10px;
}