<h1 mat-dialog-title>Add New Contact</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial color="primary" (click)="onSave()">
        <mat-icon>save</mat-icon>save
    </button>
    <button mat-button mat-dialog-close color="secondary" (click)="dismiss()">
        <mat-icon>cancel</mat-icon>cancel
    </button>
</div>